<% include partials/header.ejs%>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to YelpCamp</h1>
            <p>View our hand picked campgrounds from all over the world</p>
            <a class="btn btn-primary btn-lg" href="campgrounds/new">Add new Campgrounds</a>
        </div>
    </header>
    <div class="row text-center" style="display:flex; flex-wrap:wrap;">
         <% campgrounds.forEach(function(campground){ %>
        <div class="col-md-6 col-lg-4">
            <div class="thumbnail">
                <img src="<%=campground.image%>"> 
                <div class="caption">
                    <h4><%= campground.name %></h4>
                </div>
            </div>
           
        </div>

            <%});%>
        </div>
    </div>

</div>

<% include partials/footer.ejs %>